body {
    background-color: #fff
}

#auth {
    display: flex;
    justify-content: center;
}

#auth #auth-left {
    padding: 1rem 8rem
}

#auth #auth-left .auth-title {
    font-size: 4rem;
    margin-bottom: 1rem
}

#auth #auth-left .auth-subtitle {
    color: #a8aebb;
    font-size: 1.7rem;
    line-height: 2.5rem
}

@media screen and (max-width:767px) {
    #auth #auth-left {
        padding: 5rem
    }
}

@media screen and (max-width:576px) {
    #auth #auth-left {
        padding: 5rem 3rem
    }
}
